body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 40px;
}

.contenedor {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}

#resultados {
    margin-top: 30px;
}

h3 {
    margin-bottom: 5px;
}

p {
    padding: 7px;
    border-bottom: 1px solid #ddd;
}