/* el css  para la pagina de index2.html*/
body {
    font-family: Arial, sans-serif;
    background-color: #fff4e6;
    color: #333;
    margin: 0;
}
header {
    background-color: #d35400;
    color: white;
    text-align: center;
    padding: 20px;
}
main {
    width: 80%;
    margin: 20px auto;
}
section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
h2, h3 {
    color: #d35400;
}
li {
    margin: 5px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
